body {
    font-size: 14px;
    width: 600px;
    max-height: 700px;
    overflow-y: auto;
  }
  
  input[type="text"]::placeholder {
    font-style: italic;
  }
  
  h6 {
    font-weight: 600;
  }
  
